.container {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
}

.messagesContainer {
  height: calc(100vh - 10vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messagesContainer ul {
  overflow-y: auto;
  margin-bottom: 5px;
  padding: 0 40px;
}
.messagesContainer ul li {
  list-style: none;
  background: #d1d1ff;
  display: block;
  margin-top: 10px;
  border-radius: 8px;
  padding: 5px 10px;
  inline-size: fit-content;
}
.messagesContainer ul li.myMessage {
  list-style: none;
  background: #d4ffd1;
  display: block;
  margin-top: 10px;
  border-radius: 8px;
  padding: 5px 10px;
  inline-size: fit-content;
}
.messagesContainer ul li span {
  color: #4848ff;
  font-size: small;
  display: flex;
  justify-content: flex-start;  
}
.messagesContainer ul li span.myMessage {
  color: #318e2b;
  font-size: small;
  display: flex;
  justify-content: flex-end;
}

.messagesContainer div {
  display: flex;
  justify-content: flex-start;
}

.messagesContainer div.myMessage {
  display: flex;
  justify-content: flex-end;
}

.messagesContainer ul li p {
  margin: 0;
  padding-top: 8px;
  margin-bottom: 5px;
}
.actionsContainer {
  height: 50px;
  display: flex;
  margin: 5px;
  padding: 10px 15px;
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
  color: black;  
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}
.actionsContainer:hover {
  box-shadow: 0px 0px 5px gray ;
}

.actionsContainer input {
  flex: 8;
  word-break: break-word;
  margin-right: 10px;
  outline: none;
  background-color: rgb(247, 247, 247);
  border-right: 1px solid lightgray;
}
.actionsContainer textarea {
  flex: 8;
}